/* mini reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: calibri;
    color: #fff;
}

.cabecalho {
    height: 100px;
    background: rgb(6, 15, 40);
    font-size: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 25%;
    height: 50vh;
    font-size: 3em;
}

.secao1 {
    background: rgb(53, 96, 136);
}

.secao2 {
    background: rgb(214, 38, 5);
}


/* REGRA GERAL DE DESKTOP PARA MOBILE
    Da medida maior para a menor sempre usando MAX-WIDTH
*/


/* criando as medias */

@media (max-width: 800px) {
    .box {
        width: 50%;
        font-size: 2em;
    }
}

@media (max-width: 500px) {
    .box {
        width: 100%;
        font-size: 1em;
    }
}