@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

/* mini reset css */

* {
    /* asterísco = representa todas as tags */
    margin: 0;
    padding: 0;
    /* com o box-sizing o valor do padding não é atribuido ao elemento */
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: #ccc;
}


/* classe container - todo conteúdo do html 
flexbox - alinhamento dinâmico sem precisar ser float - display inline
o container pai precisa ser flex
Definir a direção dele - horinzontal (x) ou verical(y)
por padrão é um elemento em linha - colocar os elementos na mesma linha(row)
*/

.container {
    width: 80%;
    min-width: 800px;
    height: 600px;
    margin: 10px auto;
    border-radius: 10px;
    background: #fff;
    /* por conta do padrão em linha(row), deixou os container um ao lado do outro */
    display: flex;
}


/* formatar as divs que estão dentro do caontainer */

.primary,
.secundary {
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    /* muda a direção dos elementos - padrão é "row", alterado para "column" */
    flex-direction: column;
    /* define onde os elementos iniciarão */
    justify-content: center;
    /* difinir alinhamento vertical */
    align-items: center;
}


/* formatação exclusica para a classe primary */

.primary {
    width: 40%;
    background: #dc143c;
    color: #fff;
    border-radius: 5px 0 0 5px;
}

.primary h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.icone {
    font-size: 300px;
    padding: 20px 0;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.redesSociais {
    color: #fff;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 20px;
}

.redesSociais:hover {
    color: #aa0a2a;
}


/* ========== Formulário ========== */

#contato {
    width: 100%;
    padding: 25px;
    margin: 50 0;
}

#contato fieldset {
    border: none;
    margin-bottom: 10px;
}

#contato input[type="text"],
#contato input[type="email"],
#contato input[type="tel"],
#contato textarea {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    padding: 10px 10px 10px 50px;
    background-repeat: no-repeat;
    background-position: 8px center;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contato textarea {
    height: 160px;
    resize: none;
}

#contato button {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 10px 40px;
    border: none;
    background-color: #dc143c;
    color: #fff;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

#contato input:focus,
#contato textarea:focus {
    outline: 0;
    border: 1px solid #dc143c;
}

.user {
    background: url(../images/images/user2.png);
}

.email {
    background: url(../images/images/email2.png);
}

.celular {
    background: url(../images/images/celular2.png);
}

.telefone {
    background: url(../images/images/telefone2.png);
}

.user:focus {
    background: url(../images/images/user1.png);
}

.email:focus {
    background: url(../images/images/email1.png);
}

.celular:focus {
    background: url(../images/images/celular1.png);
}

.telefone:focus {
    background: url(../images/images/telefone1.png);
}