/*
Com FlexBox a mágica acontece, sem float, inline, inline-block. Aplicar o display no elemento pai - em nosso exemplo o container pai está no arquivo base.css, vamos declarar aqui o elemento usando as propriedades do flex. Ele respeitará as declarações feitas anteriormente e usará essas novas propriedades.
NO ELEMENTO PAI -
display: flex - define que o container é flex
flex-direction - row; padrão do flex, nem preciso citar essa propriedade - deixará todos os filhos em linha
 */

.container{
  display: flex;
  flex-direction: row;
}

.box{

  width: 20%;
  min-width: 200px;
  height: 120px;
  padding: 10px;
  margin: 20px;
}


/* class para cada um dos boxes - personalizando cada um */
.box-1{background: #666;}
.box-2{background: #888;}
.box-3{background: #aaa;}
.box-4{background: #ccc;}
