/*
flex-grow; define que um determinado elemento seja maior que os outros(largura). Valor padrão em 0, ocupam um tamanho máximo baseado no conteúdo ou na largura. No nosso exmplo temos temos 4 boxes - 3 terão um valor padrão e o outro ficará maior que os demais

flex-grow: 0; Default - PADRAZAO
flex-grow: 1 - os elmentos se expandem igualmente
flex-grow: 2 - esse elemento terá o dobro dos elementos com valor 1;

 */

.container{
  display: flex;
  flex-direction: row;
}

.box{
  /* width: 10%;
  min-width: 200px; */
  height: 120px; /* TIREI A ALTURA PARA USAR O BASELINE */
  padding: 10px;
  margin: 20px;
}


/* class para cada um dos boxes - personalizando cada um */
.box-1{background: #666; flex-grow: 2;}
.box-2{background: #888; flex-grow: 1;}
.box-3{background: #aaa; flex-grow: 2;}
.box-4{background: #ccc; flex-grow: 1;}
