@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* Mini reset css
  * asterisco representa todas as tags(elementos) - a regra abaixo será aplicada a todos os elementos da página
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

h1, h2, h3{
  margin: 20px 10px;
}

.container{
  width: 99%;
  height: 600px;
  margin: 10px auto;
  padding: 10px;
  background: #f9f9f9;
}
