
/* float - flutuação dos elementos - left/right - o float tirá os elementos do fluxo normal deixandos à direita / esquerda. Quando usamos a propriedade, o próximo elemento também flutuará, caso tenha espaço. Então é necessário limpar a flutuação, ou seja o elemento que está flutuando de "graça" precisa da propriedade clear, ela LIMPARÁ A FLUTUAÇÃO - valores possíveis: left / right / both
 */
.box{
  float: left;
  width: 20%;
  min-width: 200px;
  height: 120px;
  padding: 10px;
  margin: 20px;
}

.no-float{
  clear: both;
}


/* class para cada um dos boxes - personalizando cada um */
.box-1{background: #666;}
.box-2{background: #888;}
.box-3{background: #aaa;}
.box-4{background: #ccc;}
