/*
Align-items - define o alinhamento vertical no container pai
align-items: baseline - deixa a altura do filho conforme a quantidade de conteúdo - NÃO PODE TER ALTURA
 */

.container{
  display: flex;
  flex-direction: row;
  align-items: baseline;

}

.box{
  width: 10%;
  min-width: 200px;
  /* height: 120px; TIREI A ALTURA PARA USAR O BASELINE */
  padding: 10px;
  margin: 20px;
}


/* class para cada um dos boxes - personalizando cada um */
.box-1{background: #666;}
.box-2{background: #888;}
.box-3{background: #aaa;}
.box-4{background: #ccc;}
