/*
order - mudar a ordem de exibição dos elementos sem alterar sua posição no código */

.container{
  display: flex;
  flex-direction: row;
}

.box{
  width: 10%;
  min-width: 200px;
  height: 120px;
  padding: 10px;
  margin: 20px;
}


/* class para cada um dos boxes - personalizando cada um */
.box-1{background: #666; order:3;}
.box-2{background: #888; order:4;}
.box-3{background: #aaa; order:1;}
.box-4{background: #ccc; order:2;}
